# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# local env files
.env
.env.*
!.env.example

# misc
.DS_Store
.DS_Store?
Thumbs.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# editor files
.idea/
.vscode/
*.swp
*.swo

# firebase local cache
.firebase/
firebase-debug.log*
firestore-debug.log*
ui-debug.log*

# package manager cache
.npm/
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz
.pnpm-store/
